<div class="card text-center text-white bg-dark   ">
  <div class="card-header">
  AUTOMOTRIZ
  </div>
  <div class="card-body">
    <h5 class="card-title">PRODUCTO</h5>
    <p class="card-text">En esta seccion se presentaran las operaciones de la tabla de productos</p>
    <a href="/producto" class="btn btn-primary">OPERACIONES</a>
  </div>
  <div class="card-footer text-muted">

  </div>
</div>
<div class="card text-center text-white bg-dark   ">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h5 class="card-title">EMAIL</h5>
    <p class="card-text">En esta seccion se presentaran las operaciones de la tabla de emails </p>
    <a href="/email" class="btn btn-primary">OPERACIONES</a>
  </div>
  <div class="card-footer text-muted">

  </div>
</div>
<div class="card text-center text-white bg-dark   ">
  <div class="card-header">

  </div>
  <div class="card-body">
    <h5 class="card-title">TELEFONO</h5>
    <p class="card-text">En esta seccion se presentaran las operaciones de la tabla de telefono</p>
    <a href="/telefono" class="btn btn-primary">OPERACIONES</a>
  </div>
  <div class="card-footer text-muted">

  </div>
</div>

<div class="card text-center text-white bg-dark   ">
  <div class="card-header">

  </div>
  <div class="card-body">
    <h5 class="card-title">CONTROL DE DISTRIBUCION</h5>
    <p class="card-text">En esta seccion se presentaran las operaciones de la tabla de distribuciones</p>
    <a href="/distribucion" class="btn btn-primary">OPERACIONES</a>
  </div>
  <div class="card-footer text-muted">

  </div>
</div>
<div class="card text-center text-white bg-dark   ">
  <div class="card-header">

  </div>
  <div class="card-body">
    <h5 class="card-title">CONTROL DE AGENCIA</h5>
    <p class="card-text">En esta seccion se presentaran las operaciones de la tabla de las agencias</p>
    <a href="/agencia" class="btn btn-primary">OPERACIONES</a>
  </div>
  <div class="card-footer text-muted">

  </div>
</div>
<div class="card text-center text-white bg-dark   ">
  <div class="card-header">

  </div>
  <div class="card-body">
    <h5 class="card-title">VENTA</h5>
    <p class="card-text">En esta seccion se presentaran las operaciones de la tabla de las ventas</p>
    <a href="/venta" class="btn btn-primary">OPERACIONES</a>
  </div>
  <div class="card-footer text-muted">

  </div>
</div>
